<% var last_build = _.first(all_builds); %>
<article class="instruction" data-instruction-id="<%= __id__ %>">
  <div class="ui-widget ui-corner-all <%= last_build ? STAGE_TO_UI[last_build.stage] : 'ui-state-default' %>">
    <ul class="instruction-header">
      <li class="avatar <%= last_build ? 'picture': '' %>">
	<% if (last_build) { %>
	<img src="<%= last_build.gravatars['75'] %>" width="75" height="75" />
	<% } else { %>
	<img src="/images/blank_avatar.jpg" width="75" height="75" />
	<% } %>
      </li>
      <li class="title">
	<h1 class="title"><%= name %></h1>
      </li>
      <li class="last-build">
	<span>last build:</span>
	<% if (last_build) { %>
	<strong class="status-color <%= last_build.style_name %>">
	  <a href="<%= last_build.permalink %>"><%= truncate(last_build.message) %></a>
	</strong>
	<% } else { %>
	<strong> Never :(</strong>
	<% } %>
      </li>
    </ul>

    <div class="instruction-body <%= last_build ? '': 'hidden' %>">
      <h4 class="title"><%= last_build ? 'latest builds' : 'running ...' %></h4>
      <div class="progress">
	<div class="bar"></div>
      </div>

      <ol class="buildlog">
	<% _.each(all_builds, function(build) { %>
	<li class="<%= build.style_name %>" id="clay:Build:id:<%= build.__id__ %>">
	  <a href="<%= build.permalink %>"><%= truncate(build.message) %></a>
	</li>
	<% }); %>
      </ol>
    </div>

    <ul class="instruction-footer">
      <% if (last_build) { %>
      <li class="toolbar">
	<button class="btn small info do-schedule" href="#">Add to the queue</button>
	<button class="btn small success show-output" href="#">STDOUT</button>
	<button class="btn small error show-error" href="#">STDERR</button>
      </li>
      <% } else { %>
      <li class="toolbar">
	<button class="btn small info do-schedule" href="#">Build now</button>
      </li>
      <% } %>
    </ul>
  </div>
</article>
