<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

	<title>{{ title  }}</title>
	<meta name="description" content="">
	<meta name="author" content="">

	<meta name="viewport" content="width=device-width,initial-scale=1">

	{% block css %}
	<link rel="stylesheet" href="/stylesheets/bootstrap.min.css" type="text/css" />
	<link rel="stylesheet" href="/stylesheets/general.css" type="text/css" />
	<link rel="stylesheet" href="/stylesheets/jquery.gritter.css" type="text/css" />
	<link rel="stylesheet" href="/stylesheets/jquery-ui-1.8.16.custom.css" type="text/css" />
	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Armata" type="text/css" />
	{% endblock %}
	{% block js %}
	<script type="text/javascript">
	  (function(window){window.emerald = " + emerald_json + ";})(window)
	</script>
	<script type="text/javascript" src="/javascripts/modernizr-2.0.6.min.js"></script>
	<script type="text/javascript" src="/javascripts/json2.js"></script>
	<script type="text/javascript" src="/javascripts/underscore.js"></script>
	<script type="text/javascript" src="/javascripts/jquery-1.7.1.min.js"></script>
	<script type="text/javascript" src="/javascripts/jquery-ui-1.8.16.custom.min.js"></script>
	<script type="text/javascript" src="/javascripts/backbone.js"></script>
	<script type="text/javascript" src="/javascripts/jquery.gritter.min.js"></script>
	<script type="text/javascript" src="/socket.io/socket.io.js"></script>
	<script type="text/javascript" src="/javascripts/app.models.js"></script>
	<script type="text/javascript" src="/javascripts/app.views.js"></script>
	<script type="text/javascript" src="/javascripts/app.routers.js"></script>
	<script type="text/javascript" src="/javascripts/app.js"></script>
	{% endblock %}
</head>
<body>
<script type="text/template" id="template-instruction-list">
  <h2>Builds</h2>
  <ul id="builds"></ul>
</script>
<script type="text/template" id="template-instruction">
  <article class="instruction" data-instruction-id="<%= __id__ %>">
    <ul class="data">
      <li class="avatar">
	<% var last_build = _.first(all_builds); %>
	<% if (last_build) { %>
        <img src="<%= last_build.gravatar %>" width="50" />
	<% } else { %>
        <img src="/images/avatar.png" width="50" />
	<% } %>
      </li>
      <li class="title">
        <h1 class="title"><%= name %></h1>
      </li>
      <li class="build last-build">
	last build:
	<% if (last_build) { %>
	<strong class="status-color <%= last_build.style_name %>">
	  <a href="<%= last_build.route %>">
            <span class="message"><%= last_build.message %></span>
	  </a>
	</strong>
	<% } else { %>
	<strong> Never :(</strong>
	<% } %>
      </li>
    </ul>
    <ul class="menu">
      <% if (last_build) { %>
      <li>
	<a class="btn small info do-schedule" href="#">Add to the queue</a>
	<a class="btn small success" href="#">STDOUT</a>
	<a class="btn small error" href="#">STDERR</a>
      </li>
      <% } else { %>
      <li>
	<a class="btn small info do-schedule" href="#">Build now</a>
      </li>
      <% } %>
    </ul>
    <ol class="buildlog">
      <li><strong>latest builds</strong></li>
      <% _.each(all_builds, function(build) { %>
      <li class="<%= build.style_name %>">
	<a href="<%= build.route %>"><%= build.message %></a>
      </li>
      <% }); %>
    </ol>

  </article>
</script>
<script type="text/template" id="template-detailed-build">
  <div class="row">
    <div class="span16">
      <h1>Build #<%= __id__ %></h1>
    </div>
  </div>
</script>
<script type="text/template" id="template-instruction-management">
  <div class="row">
    <div class="span16">
      <h2>Manage Instructions</h2>
    </div>
  </div>
</script>

  <div id="progress-bar">
    <div class="inset">
      <div class="label">0%</div>
      <div class="bar"></div>
      <span class="status"></span>
      <img src="/images/progress-bar-loader.gif" />
    </div>
  </div><!--#progress-bar-->

  <a id="fork_me_on_github" target="_blank" href="https://github.com/Yipit/emerald">
    <span>Fork me on GitHub!</span>
  </a><!--github ribbon-->

  <header>
    <div class="container">
      <div class="row">
	<div class="span13">
	  <h1 class="title"><a href="#">Emerald</a></h1>
	</div><!-- .span13 -->
      </div><!-- .row -->
      <div class="row">
	<div class="span8">
	  <p></p>
	</div>
	<div class="span8">
	  <menu class="main">
	    <li class="dashboard"><a href="#dashboard">dashboard</a></li>
	    <li class="instructions"><a href="#instructions">instructions</a></li>
	  </menu>
	</div>
      </div>
    </div>
  </header>
  <div id="app" class="container">
  </div>
  <div id="terminal-wrapper">
    <a class="toggle-terminal" href="#">Show/Hide current build</a>
    <pre id="terminal" class="hidden"></pre>
  </div>
</body>
