{% extends "base.html" %}
{% block body %}
<script type="text/template" id="template-instruction-list">
  <div id="dashboard" class="container">
    <h1>Builds</h1>
    <ul id="builds"></ul>
  </div>
</script>
<script type="text/template" id="template-instruction">
  <article class="instruction" data-instruction-id="<%= __id__ %>">
    <ul class="data">
      <li class="avatar">
	<% if (has_last_build) { %>
        <img src="<%= last_build.gravatar %>" width="50" />
	<% } else { %>
        <img src="/images/avatar.png" width="50" />
	<% } %>
      </li>
      <li class="title">
        <h1 class="title"><%= name %></h1>
      </li>
      <li class="build last-build">
	last build:
	<% if (has_last_build) { %>
	<strong class="status-color <%= last_build.style_name %>">
	  <a href="<%= last_build.get_route() %>">
            <span class="message">Never built</span>
	  </a>
	</strong>
	<% } else { %>
	<strong> Never :(</strong>
	<% } %>
      </li>
      <li>
        <ul class="menu">
	  <% if (has_last_build) { %>
	  <li>
	    <a class="btn small info" href="#" emerald-action="run" emerald-entity="BuildInstruction" rel="1">Add to the queue</a>
	    <a class="btn small success" href="#" emerald-action="show.error" emerald-entity="Build" rel="1">STDOUT</a>
	    <a class="btn small error" href="#" emerald-action="show.output" emerald-entity="Build" rel="1">STDERR</a>
	  </li>
	  <% } else { %>
	  <li>
	    <a class="btn small info" href="#" emerald-action="run" emerald-entity="BuildInstruction" rel="1">Build now</a>
	  </li>
	  <% } %>
	</ul>
      </li>
      <ol class="buildlog">
	<li><strong>latest builds</strong></li>
	<% _.each(all_builds, function(build) { %>
	<li>
	  <a href="#"><%= build.message %></a>
	</li>
	<% }); %>
      </ol>
    </ul>
  </article>
</script>

{% endblock %}
