script(type="text/template", id="template-instruction-list")
  #dashboard.container
    h1 Builds
    ul#builds

script(type="text/template", id="template-instruction")
  article.instruction(data-instruction-id="", class="")
    ul.data
      li.avatar
        img(src="<%= last_build.gravatar %>", width="50")

      li.title
        h1.title <%= name %>

      li.build.last-build last build:
        strong(class="status-color <%= last_build.style_name %>")
          a(href="<%= last_build.get_route() %>")
            span.message Never built
      li
        ul.menu
          li
            a.btn.small.info(href="#", emerald-action="run", emerald-entity="BuildInstruction", rel=1) Add to the queue
            a.btn.small.success(href="#output", emerald-action="show", emerald-entity="Build", rel=1) STDOUT
            a.btn.small.error(href="#error", emerald-action="show", emerald-entity="Build", rel=1) STDERR

     ol.buildlog
       li: strong latest builds:
       li(class="")
         a(href="#") build.message
