#dashboard.container
  h1 Builds
  ul#builds
    li
      article.project
        ul.data
          li.avatar
            img(src="/images/gravatar100x100.jpg", width="50")
          li.title
            h1 Yipit Unit Tests
          li.commitmsg Fixing to_review and needs (...)
          li.lastfailure last failure: #231 (31s)
          li.lastsuccess last success: #230 (2s)
        ul.menu
          li.output
            a(href="#") Show output
          li.build
            a(href="#") Build Now
        ol.buildlog
          li.success #229 &mdash; Another fix in blah
          li.success #228 &mdash; Fixing a typo in the main model
          li.failure #227 &mdash; Implementing the login feature

    li
      article.project.failed
        ul.data
          li.avatar
            img(src="/images/gravatar100x100.jpg", width="50")
          li.title
            h1 Yipit Unit Tests
          li.commitmsg Fixing to_review and needs (...)
          li.lastfailure last failure: #231 (31s)
          li.lastsuccess last success: #230 (2s)
        ul.menu
          li.output
            a(href="#") Show output
          li.build
            a(href="#") Build Now
        ol.buildlog
          li.success #229 &mdash; Another fix in blah
          li.success #228 &mdash; Fixing a typo in the main model
          li.failure #227 &mdash; Implementing the login feature

    li
      article.project.success
        ul.data
          li.avatar
            img(src="/images/gravatar100x100.jpg", width="50")
          li.title
            h1 Yipit Unit Tests
          li.commitmsg Fixing to_review and needs (...)
          li.lastfailure last failure: #231 (31s)
          li.lastsuccess last success: #230 (2s)
        ul.menu
          li.output
            a(href="#") Show output
          li.build
            a(href="#") Build Now
        ol.buildlog
          li.success #229 &mdash; Another fix in blah
          li.success #228 &mdash; Fixing a typo in the main model
          li.failure #227 &mdash; Implementing the login feature

    li
      article.project.running
        ul.data
          li.avatar
            img(src="/images/gravatar100x100.jpg", width="50")
          li.title
            h1 Yipit Unit Tests
          li.commitmsg Fixing to_review and needs (...)
          li.lastfailure last failure: #231 (31s)
          li.lastsuccess last success: #230 (2s)
        ul.menu
          li.output
            a(href="#") Show output
          li.stop
            a(href="#") Stop running
        ol.buildlog
          li.success #229 &mdash; Another fix in blah
          li.success #228 &mdash; Fixing a typo in the main model
          li.failure #227 &mdash; Implementing the login feature
    .row-end
