#build

  h1 Builds

  div.build.error.alert-message.block-message
    div.alert-actions
      a.btn.danger.stop-build Stop
      pre.failed running...

    p
      h2 Yipit Unit Tests, build #23 [FAILED]
      img.gravatar(src="http://www.gravatar.com/avatar/205e460b479e2e5b48aec07710c08d50?s=100", width="100", height="100")
      blockquote
        p "Fixing to_review and needs_approval" - b545731f59a0a09ad629 - about an hour ago
        small Steve Pulec - spulec@gmail.com

  div.build.success.alert-message.block-message
    div.alert-actions
      a.btn.success Build Now
      pre.success stopped

    p
      h2 Yipit Unit Tests, build #23 - SUCCESS, yay!
          img.gravatar(src="https://secure.gravatar.com/avatar/4eaa7e60764d92c25d661fa62a0faa65?s=140&d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-140.png", width="30", height="30")
      blockquote
        p "Fixing to_review and needs_approval" - b545731f59a0a09ad629 - about an hour ago
        small Steve Pulec - spulec@gmail.com


  div.build.warning.alert-message.block-message
    div.alert-actions
      a.btn Build Now
      pre.warning build please

    p
      h2 Yipit Functional Tests, never built
      blockquote
        small why not build it now ?


