#build

  h1 Builds

  div.build.error.alert-message.block-message
    div.alert-actions
      a.btn.danger.stop-build Stop
      pre.failed running...
    p
      div.picture
        img.gravatar(src="/images/gravatar100x100.jpg", width="100", height="100")
      div.info
        h2 Yipit Unit Tests, build #23 [FAILED]
        blockquote
          p "Fixing to_review and needs_approval" - b545731f59a0a09ad629 - about an hour ago
            span.author by Steve Pulec - spulec@gmail.com

  div.build.success.alert-message.block-message
    div.alert-actions
      a.btn.success Build Now
      pre.success stopped
    p
      div.picture
        img.gravatar(src="/images/gravatar100x100.jpg", width="100", height="100")
      div.info
        h2 Yipit Unit Tests, build #23 - SUCCESS, yay!
        blockquote
          p "Fixing to_review and needs_approval" - b545731f59a0a09ad629 - about an hour ago
            span.author by Steve Pulec - spulec@gmail.com


  div.build.warning.alert-message.block-message
    div.alert-actions
      a.btn Build Now
      pre.warning build please
    p
      div.picture
        img.gravatar(src="/images/gravatar100x100.jpg", width="100", height="100")
      div.info
        h2 Yipit Functional Tests, never built
        blockquote
          small why not build it now ?


