!!! 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.css', type='text/css')
    link(rel='stylesheet', href='/stylesheets/general.css', type='text/css')

    script(type="text/javascript", src="/javascripts/jquery-1.6.2.min.js")
    script(type="text/javascript", src="/socket.io/socket.io.js")
    script(type="text/javascript", src="/javascripts/main.js")

  body
    header
      .container
        .row
          .span13
            h1.title
              a(href="#") Emerald
          .span3
            menu.user
              li.avatar
                img(src="/images/avatar.png", width="25", height="25")
              li username
              li.stuff
                a(href="#") profile
                span |
                a(href="#") exit
        .row
          .span10 &nbsp;
          .span6
            menu.main
              li.dashboard
                a(href="/") dashboard
              li.projects
                a(href="/instructions") projects
              li.users
                a(href="/users") users
    != body
