.container
  h1 login
  .row
    .span12
      div.form
        form(method="post")
          fieldset
            .clearfix
              label(for="email") email
              .input
                input.xlarge#email(type="text", name="email")
            .clearfix
              label(for="password") Password
              .input
                input#password(type="password", name="password")

            p.button
               input.info.btn#authenticate(type="submit", name="authenticate", value="authenticate")

  - if (error)
    .row
      .span10
        .alert-message.error(data-alert="alert")
          a.close(href="#") x
          p
            strong= error.toString()
