#project

  h1 Create a new user

  div.form
    form(method="post")
      p
        label(for="name") name
        input#name(type="text", name="name")
      p
        label(for="email") email
        input#email(type="text", name="email")
      p
        label(for="password") password
        input#password(name="password", type="password")
      p.left
        input.info.btn#create(type="submit", name="create", value="create")

  - if (has_users)
    hr
    h1 Existing Users

    - each user in users
      p
        a(href=user.permalink)= "Details of " + user.name
        span -
        a.clay.User.delete(href="#", rel=user.__id__) (delete)
