.container
  h1 Create a new build instruction
  .row
    .span12
      div.form
        form(method="post")
          fieldset
            .clearfix
              label(for="name") Build name
              .input
                input.xlarge#name(type="text", name="name")
            .clearfix
              label(for="description") Description
              .input
                input#description(type="text", name="description")
            .clearfix
              label(for="repository_address") Repository address
              .input
                input#repository(type="text", name="repository_address", value="git://github.com/")
            .clearfix
              label(for="build_script") Build script
              .input
                textarea#build_script.xxlarge(rows="3", name="build_script")
                  #!/bin/bash
                  echo "Build Successful!"
                span.help-block The script above will be converted into a bash script

            p.button
               input.info.btn#create(type="submit", name="create", value="create")
  .row
    .span16

      - if (has_instructions)
        hr
        h1 Existing Instructions

        - each instruction in instructions
          .warning.alert-message
            a.close.clay.BuildInstruction.delete(href="#", rel=instruction.__id__) delete
            p
              a(href=instruction.permalink)
                strong="Details of " + instruction.name
