{% extends "base.html" %}
{% block js %}{% parent %}
<script type="text/javascript" src="/javascripts/main.js"></script>
{% endblock %}
{% block body %}
<div class="container">
  {% if !has_instructions %}
    <h1 class="failed">There are no instructions :(</h1>
    <h3>But you can still create a new one above</h3>
  {% else %}
    <h1>Build Instructions</h1>
    {% for instruction in instructions %}
    <div class="row", data-instruction-id="{{ instruction.__id__ }}">
      <div class="span16">
	<div class="alert-message block-message">
	  <div class="row">
	    <div class="span6">
	      <h2>{{ instruction.name }}</h2>
	      <p>{{ instruction.description }}</p>
	      <div class="alert-actions">
		<a class="btn small danger" href="#" emerald-action="run" emerald-entity="BuildInstruction", rel="{{ instruction.__id__ }}">Schedule a build</a>
	      </div>
	    </div><!--span6 -->
	    <div class="span9">
	      <p><strong>Repository Address</strong></p>
	      <p>{{instruction.repository_address }}</p>
	      {% if instruction.total_builds == 0 %}
	      <p class="last-build">Never built :(</p>
	      {% else %}
              <p>
		<strong>Was built {{ instruction.total_builds }} times</strong>
	      </p>
	      {% endif %}
	    </div>
	  </div>
	</div>
      </div>
    </div><!-- .row data-instruction-id=#number# -->
    {% endfor %}
  {% endif %}
    <button class="btn success large clay BuildInstruction create" data-controls-modal="new-build">Create an instruction</button>
</div>
{% endblock %}
