.container
  h1 Create a new build instruction
  .row
    .span12
      div.form
        form(method="post")
          p
            label(for="name") Build name
            input#name(type="text", name="name")
          p
            label(for="description") Description
            input#description(type="text", name="description")
          p
            label(for="repository_address") Repository address
            input#repository(type="text", name="repository_address")
          p
            label(for="build_script") Build script
            textarea#build_script(name="build_script")
            small.helptext The script above will be converted into a bash script

          p.button
            input.info.btn#create(type="submit", name="create", value="create")

      - if (has_instructions)
        hr
        h1 Existing Instructions

        - each instruction in instructions
          p
            a(href=instruction.permalink)= "Details of " + instruction.name
            span -
            a.clay.Instruction.delete(href="#", rel=instruction.__id__) (delete)
