.raw-box-shadow (@val) {
  box-shadow:         @val;
  -webkit-box-shadow: @val;
  -moz-box-shadow:    @val;
}
.box-shadow (@x: 0, @y: 0, @blur: 1px, @alpha: 0.5) {
  @val: @x @y @blur rgba(255, 255, 255, @alpha);
  .raw-box-shadow(@val);
}
.box-inset (@x: 0, @y: 0, @blur: 2px, @alpha: 0.3) {
  @val: inset @x @y @blur rgba(0, 0, 0, @alpha);
  .raw-box-shadow(@val);
}

.rounded-corners (@radius: 3px) {
  border-radius: @radius;
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
}

//Tango Palette: http://tango.freedesktop.org/Tango_Icon_Theme_Guidelines#Color_Palette
//Licensed as Public Domain
//LESS'd by James Mason (james@bear454.com)

//Butter
@light_butter: #fce94f;
@butter:       #edd400;
@dark_butter:  #c4a000;

//Orange
@light_orange: #fcaf3e;
@orange:       #f57900;
@dark_orange:  #ce5c00;

//Chocolate
@light_chocolate: #e9b96e;
@chocolate:       #c17d11;
@dark_chocolate:  #8f5902;

//Chameleon
@light_chameleon: #8ae234;
@chameleon:       #73d216;
@dark_chameleon:  #4e9a06;

//Sky Blue
@light_sky_blue: #729fcf;
@sky_blue:       #3465a4;
@dark_sky_blue:  #204a87;

//Plum
@light_plum: #ad7fa8;
@plum:       #75507b;
@dark_plum:  #5c3566;

//Scarlet Red
@light_scarlet_red: #ef2929;
@scarlet_red:       #cc0000;
@dark_scarlet_red:  #a40000;

//Aluminum
@lightest_aluminum: #eeeeec;
@lighter_aluminum:  #d3d7cf;
@light_aluminum:    #babdb6;
@dark_aluminum:     #888a85;
@darker_aluminum:   #555753;
@darkest_aluminum:  #2e3436;

ul, ol, dl {
  list-style: none;
}

/* -- general -- */

body {
  position: relative;
  height: 100%;
  width: 100%;
}

li {
    line-height:14px;
}

h1 {
  font-weight:bold;
}

.row {
  margin-bottom:0;
  > h1 {
    font-size: 64px;
    color: @darkest_aluminum;
    padding: 10px 0 30px 0;
  }
}

/* -- header -- */

header {
  background:url(../images/bg_header.png) repeat-x #444;
  height:80px;
  .raw-box-shadow(0 0 10px #333);

  .navbar-inner {
    #logo {
      background:url(../images/emerald.png) no-repeat;
      padding: 2px 0 1px 34px;
    }
  }
}

h1.title {
    height:35px;
    overflow:hidden;
}

h1.title a {
    background:url(../images/emerald.png) no-repeat;
    display:block;
    width:175px;
    padding-top:40px;
    margin-top:10px;
}

menu.user {
    margin-top:10px;
}

menu.user li.login * {
    margin: 5px 5px 0 0;
    float:left;
}

menu.user li.stuff * {
    margin-right:5px;
    float:left;
}

menu.user li.avatar {
    float:left;
    margin-right:5px;
    background: url("../images/loading.gif") no-repeat 5px 7px;
    width: 25px;
    height: 25px;
    border:solid 1px #666;
}

menu.main, menu.contextual {
  margin:13px 0 0 0;
  padding: 0;
  li {
    float: left;
    padding-left: 20px;
    margin-left: 23px;
    a {
      color:#fff;
      text-decoration:none;
    }
    &.dashboard {
      background:url(../images/ico_dashboard.png) no-repeat 0 51%;
    }
    &.instructions {
      background:url(../images/ico_build.png) no-repeat 0 51%;
    }
    &.pipelines {
      background:url(../images/ico_pipelines.png) no-repeat 0 51%;
    }
    &.users {
      background:url(../images/ico_users.png) no-repeat 0 51%;
    }
    &.console {
      background:url(../images/ico_terminal.png) no-repeat 0 51%;
    }
  }
}



/* -- dashboard -- */


.container > h1 {
  font-size:36px;
  font-weight: normal;
  margin:20px 0;
  color:#4e9a06;
}

ul#builds {
    width:1100px;
    padding:0;
    margin:0;

    > li {
        display:block;
        float:left;
        width: 520px;
        margin-right:30px;
        margin-bottom:30px;
        overflow:hidden;
        border-radius:5px;
        .raw-box-shadow(0 0 10px #ccc);
        &.single {
           width: 920px;
        }
        &.double {
           width: 520px;
        }

    }
}

a, a:hover{
  text-decoration: none;
  color: @darkest_aluminum;
}

.instruction {
  color: @darkest_aluminum;
  overflow:hidden;
  position: relative;
  margin-bottom: 0px;
  .ui-widget {
    padding: 0;
    margin: 0;
  }
  .instruction-header, .instruction-footer {
    margin:0;
    padding:0;

    .commitmsg {
      padding-bottom:4px;
      margin-top:-10px;
    }
    li {
      padding-left:72px;
      .btn {
        margin: 2px;
      }
    }
  }
  .instruction-footer {
    padding: 10px 0 0 0;
    left: 0;
    bottom:0;

    .toolbar {
      text-align: right;
      padding: 7px;
      .btn {
        color: @darkest_aluminum;
        &.btn-info, &.btn-success, &.btn-danger, &.btn-warning {
          color: @lightest_aluminum;
          &:hover {
          color: @lightest_aluminum;
          }
        }
        &:hover {
          color: @darkest_aluminum;
        }

      }

    }
  }

  .instruction-header {
    padding: 0 0 10px 0;
    .avatar {
      border: 0;
      @border-val: solid 3px white;
      &.picture {
        .raw-box-shadow(0 5px 5px #666);
      }
      float:left;
      margin: 0 20px 10px 0 ;
      padding: 0;
      position:absolute;
      left:10px;
      top:10px;
      height:100px;
      width:100px;
      border-radius:3px;
    }
    .title {
      padding:0 0 0 110px;
      margin: 0;
      h1 {
        padding:10px 0 5px 10px;
      }
    }
    .last-build, .author {
      margin-left: 50px;
    }
  }

  .instruction-body {
    .progress {
      position: relative;
      .text {
        position: absolute;
        color: #EEF;
        font-family: Monaco, Monospace;
        top: 4px;
        left: 4px;
        font-size: 14px;
        text-shadow: 0 0 2px #000000;
        filter: dropshadow(color=#000000, offx=1, offy=1);
      }
    }
    .title {
      margin-top: 20px;
      font-size: 24px;
      color: @dark_aluminum;
      font-weight: normal;
      border: none;
      letter-spacing: 1px;
    }
    &.hidden {
      min-height: 0;
      height: 0;
      overflow: hidden;
      padding: 0;
    }
    padding: 10px 30px 10px 30px;
    margin: 0 -10px;
    .raw-box-shadow(inset 0 4px 10px #666);

    display: block;
    float: none;
    background: @lightest_aluminum;
    ol, ul {
      display: block;
      width: 100%;
      margin: 0;
      padding: 0;
      li, .ui-state-error {
        margin: 0;
        padding: 5px 0;
        letter-spacing: 1px;
	text-shadow: @dark_aluminum 2px 2px 2px;
        font-size: 14px;
      }
    }
  }
}

/* github link */
#fork_me_on_github {
  background: url("https://a248.e.akamai.net/assets.github.com/img/4c7dc970b89fd04b81c8e221ba88ff99a06c6b61/687474703a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f77686974655f6666666666662e706e67") repeat scroll 0 0 transparent;
  height: 149px;
  position: fixed;
  right: 0;
  top: 0;
  width: 149px;
  span {
    display: none;
  }
}

.copy-n-paste-area {
  font-family: Monaco, Monospace;
  height: 12px;
  background: @lightest_aluminum;
  padding: 6px;
  .box-inset;
}

.build {
  h1 {
    font-size: 48px;
  }
  .title {
    font-size: 30px;
  }
  .message {
    font-size: 18px;
    color: @dark_aluminum;
    width: 600px;
    padding: 10px;
    background: #FEE9CC;
    .raw-box-shadow(0px 0px 5px #FEE9CC);
  }

  .gravatar {
    float: right;
    .raw-box-shadow(inset 10px 10px 10px @darkest_aluminum);
  }
  pre {
    font-size: 16px;
    &.terminal {
      min-height: 300px;
      background: @darkest_aluminum;
      color: @lightest_aluminum;
      line-height: 22px;
    }
  }
}

#app {
  padding-top: 20px;
}

/* jquery-ui-bootstrap aditions */
@dark-green: #B7E18C;
@light-green: #a5b556;

.ui-success-success p {
  font-size: 13px;
  font-weight: normal;
  line-height: 18px;
  margin:7px 15px;
}

.ui-state-success{
  position: relative;
  margin-bottom: 18px;
  color: @lightest_aluminum;
  border-width: 1px;
  border-style: solid;
  webkit-border-radius: 4px;
  moz-border-radius: 4px;
  border-radius: 4px;
  webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
  moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
  background-color: @light-green;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(@dark-green), to(@light-green));
  background-image: -moz-linear-gradient(top, @dark-green, @light-green);
  background-image: -ms-linear-gradient(top, @dark-green, @light-green);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, @dark-green), color-stop(100%, @light-green));
  background-image: -webkit-linear-gradient(top, @dark-green, @light-green);
  background-image: -o-linear-gradient(top, @dark-green, @light-green);
  background-image: linear-gradient(top, @dark-green, @light-green);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@dark-green', endColorstr='@light-green', GradientType=0);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border-color: @light-green @light-green @dark-green;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);


}
.ui-state-success .ui-icon, .ui-state-success-text .ui-icon {background-image: url(images/ui-icons_f6cf3b_256x240.png); }

#connection-lost-dialog {
  display: none;
  p {
    text-align: center;
  }
}

#terminal {
  position: fixed;
  width: 100%;
  height: 50%;
  background: black;
  z-index: 99999999;
  display: none;

  button {
    position: absolute;
    right: 10px;
    bottom: 10px;
  }

  #live-code {
    position: absolute;
    left: 0;
    top: 0;
    width: 99%;
    height: 100%;
    background: @darkest_aluminum;
    .raw-box-shadow(inset 0 4px 200px #000);
    font-size: 16px;
    color: white;
    overflow-y:scroll;
  }
}
.row.succeeded {
  .title, .last-build, .author {
    color: @darker_aluminum;
  }
  strong, a {
    color: @dark_chameleon;
  }
}

.row.failed {
  .title, .last-build, .author {
    color: @darker_aluminum;
  }
  strong, a {
    color: @scarlet_red;
  }
}


.row.alert.managed-instruction {
  padding: 10px 0;
  margin: 0 0 40px 0;
  .actions {
    float: right;
    margin: 10px;
  }
  legend {
    font-size: 36px;
    font-weight: bold;
  }
  label {
    font-size: 14px;
    font-weight: bold;
  }
}

ul.examples{
  li {
    code {
      margin: 5px 0;
      display: block;
    }
  }
}
