<% var last_build = _.first(all_builds); %>
<article class="instruction" data-instruction-id="<%= __id__ %>">
  <div class="ui-widget <%= last_build ? STAGE_TO_UI[last_build.stage] : 'ui-state-default' %>">
    <ul class="instruction-header ui-widget ui-corner-all">
      <li class="avatar ui-widget ui-corner-all ui-state-default <%= last_build ? 'picture': '' %>">
	<% if (last_build) { %>
	<img src="<%= last_build.gravatars['100'] %>" width="100" height="100" class="ui-widget ui-corner-all ui-state-default"/>
	<% } else { %>
	<img src="/images/blank_avatar.jpg" width="100" height="100" class="ui-widget ui-corner-all ui-state-default"/>
	<% } %>
      </li>
      <li class="title">
	<h1 class="title"><%= name %></h1>
      </li>
      <li class="last-build">
	<span>last build:</span>
	<% if (last_build) { %>
	<strong class="status-color <%= last_build.style_name %>">
	  <a href="<%= last_build.permalink %>"><%= truncate(last_build.message) %></a>
	</strong>
	<% } else { %>
	<strong> Never :(</strong>
	<% } /* endif */ %>
      </li>
      <% if (last_build && last_build.author_name) { %>
      <li class="author">
	<span>by</span>
	<span class="name"><%= last_build.author_name %></span>
      </li>
      <% } /* endif */ %>
    </ul>

    <div class="instruction-body <%= (last_build) ? '': 'hidden' %>">
      <h4 class="title">latest builds</h4>
      <div class="progress">
	<div class="bar"></div>
      </div>

      <ol class="buildlog"></ol>
    </div>

    <ul class="instruction-footer ui-widget ui-corner-all">
      <% if (last_build) { %>
      <li class="toolbar">
	<button class="btn small do-schedule" href="#">Add to the queue</button>
	<button class="btn small info show-output" href="#">STDOUT</button>
	<button class="btn small error show-error" href="#">STDERR</button>
      </li>
      <% } else { %>
      <li class="toolbar">
	<button class="btn small success do-schedule" href="#">Build now</button>
      </li>
      <% } %>
    </ul>
  </div>
</article>
