<div class="row alert <%= instruction.html_class_name %> managed-instruction">
  <div class="span12">
    <form class="form-horizontal">
      <fieldset>
	  <legend><%= instruction.name %>@<%= instruction.branch %> (<%= instruction.total_builds %>)</legend>
          <div class="control-group">
            <label for="build_script" class="control-label">build script</label>
            <div class="controls">
	      <pre id="build_script" class="prettyprint"><%= instruction.build_script.split("\n").join("<br />") %></pre>
	      <p class="help-block">This will be the title of all the builds</p>
            </div>
          </div>
          <div class="control-group">
            <label for="github_hook" class="control-label">GitHub post-receive hook URL</label>
            <div class="controls">
	      <% var char_length = instruction.github_hook_url.length; %>
	      <input type="text" readonly="true" name="github-url" value="<%= instruction.github_hook_url %>" width="<%= char_length %>" style="font-family: monospace;width: <%= char_length * 8 %>px;"/>
	      <p class="help-block">Add this URL as one of your <a href="http://help.github.com/post-receive-hooks/">github post-receive</a> URLs, so that whenever someone pushes, the build will be triggered</p>
            </div>
          </div>

      </fieldset>
    </form>
  </div>
  <div class="btn-group actions">
    <a class="btn btn-large dropdown-toggle" data-toggle="dropdown" href="#"><i class="icon-list-alt"></i>Actions<span class="caret"></span></a>
    <ul class="dropdown-menu">
      <li>
	<a href="#instruction/<%= instruction.__id__ %>/edit"><i class="icon-pencil"></i>Edit</a>
	<a href="#instruction/<%= instruction.__id__ %>/delete" class="delete"><i class="icon-remove"></i>Delete</a>
	<a href="#instruction/<%= instruction.__id__ %>/duplicate" class="duplicate"><i class="icon-tags"></i>Duplicate</a>
	<a href="#instruction/<%= instruction.__id__ %>/schedule" class="schedule-build"><i class="icon-time"></i>Schedule a build</a>
      </li>
    </ul>
  </div>
</div>
