<div class="<%= instruction.html_class_name %> managed-instruction">
  <div class="btn-group actions">
    <a class="btn btn-large dropdown-toggle" data-toggle="dropdown" href="#">
      <i class="icon-list-alt"></i>
      Actions
      <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
      <li>
        <a href="#instruction/<%= instruction.__id__ %>/edit"><i class="icon-pencil"></i> Edit</a>
        <a href="#instruction/<%= instruction.__id__ %>/delete" class="delete"><i class="icon-remove"></i> Delete</a>
        <a href="#instruction/<%= instruction.__id__ %>/duplicate" class="duplicate"><i class="icon-tags"></i> Duplicate</a>
        <a href="#instruction/<%= instruction.__id__ %>/schedule" class="schedule-build"><i class="icon-time"></i> Schedule a build</a>
      </li>
    </ul>
  </div>

  <h2><%= instruction.name %>@<%= instruction.branch %> (<%= instruction.total_builds %>)</h2>
  <div class="field">
    <label for="github_hook" class="control-label">Post receive hook</label>
    <div class="data">
      <input
         type="text" readonly="readonly" name="github-url"
         value="<%= instruction.github_hook_url %>">
      <p class="help-block">
        Add this URL as one of
        your <a href="http://help.github.com/post-receive-hooks/">github
          post-receive</a> URLs, so that whenever someone pushes,
        the build will be triggered
      </p>
    </div>
  </div>

  <div class="field">
    <label for="build_script" class="control-label">build script</label>
    <div class="data">
      <pre class="prettyprint"><%= instruction.build_script.split("\n").join("<br>") %></pre>
    </div>
  </div>
</div>
