<div class="row alert managed-instruction">
  <div class="span12">
    <h2><%= instruction.name %></h2>
  </div>
  <div class="btn-group actions">
    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
      <i class="icon-list-alt"></i>
      Actions
      <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
      <li>
	<a href="#instruction/<%= instruction.__id__ %>/edit">
	  <i class="icon-pencil"></i>
	  Edit
	</a>
	<a class="delete" href="#">
	  <i class="icon-remove"></i>
	  Delete
	</a>
	<a class="duplicate" href="#instruction/<%= instruction.__id__ %>/duplicate">
	  <i class="icon-tags"></i>
	  Duplicate
	</a>
	<a class="schedule-build" href="">
	  <i class="icon-time"></i>
	  Schedule a build
	</a>
      </li>
    </ul>
  </div>
</div>
<div class="row">
  <br />
</div>
