<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

	<title>{{ title  }}</title>
	<meta name="description" content="">
	<meta name="author" content="">

	<meta name="viewport" content="width=device-width,initial-scale=1">

	{% block css %}
	<link rel="stylesheet" href="/stylesheets/jquery.gritter.css" type="text/css" />
	<link rel="stylesheet" href="/stylesheets/bootstrap.min.css" type="text/css" />
	<link rel="stylesheet" href="/stylesheets/jquery-ui-bootstrap.css" type="text/css" />
	<link rel="stylesheet" href="/stylesheets/general.css" type="text/css" />
	{% endblock %}
	{% block js %}
	<script type="text/javascript">
	  (function(window){window.emerald = {{ emerald_json|raw }};})(window)
	</script>
	<script type="text/javascript" src="/javascripts/modernizr-2.0.6.min.js"></script>
	<script type="text/javascript" src="/javascripts/json2.js"></script>
	<script type="text/javascript" src="/javascripts/underscore.js"></script>
	<script type="text/javascript" src="/javascripts/jquery-1.7.1.min.js"></script>
	<script type="text/javascript" src="/javascripts/jquery-ui-1.8.16.custom.min.js"></script>
	<script type="text/javascript" src="/javascripts/backbone.js"></script>
	<script type="text/javascript" src="/javascripts/jquery.gritter.min.js"></script>
	<script type="text/javascript" src="/socket.io/socket.io.js"></script>
	{% endblock %}
	{% block js_app %}
	<script type="text/javascript" src="/websockets.js"></script>
	<script type="text/javascript" src="/models.js"></script>
	<script type="text/javascript" src="/views.js"></script>
	<script type="text/javascript" src="/controllers.js"></script>
	<script type="text/javascript" src="/app.js"></script>
	{% endblock %}
</head>
<body>
  {% block body %}{% endblock %}
  <div id="connection-lost-dialog" title="Connection Lost">
    <h1>Emerald has lost the connection to the server</h1>
    <h3>please consider refreshing the page or check if the server is still down</h3>
  </div>
</body>
