<!doctype html>
<html>
  <head>
    <title>{{ title  }}</title>
    <meta charset="utf-8">
    <meta name="author" content="Yipit">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% block css %}
    <link rel="stylesheet" href="/stylesheets/jquery.gritter.css" type="text/css" />
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="/stylesheets/backbone-forms.css" type="text/css" />
    <link rel="stylesheet" href="/stylesheets/jquery-ui-bootstrap.css" type="text/css" />
    <link rel="stylesheet" href="/stylesheets/general.css" type="text/css" />
    <link rel="stylesheet" href="/prettify/prettify.css" type="text/css" />
    {% endblock %}

    {% block js %}
    <script type="text/javascript">
      (function(window){window.emerald = {{ emerald_json|raw }};})(window)
    </script>
    <script src="/colors.js"></script>
    <script src="/prettify/prettify.js"></script>
    <script src="/javascripts/modernizr-2.0.6.min.js"></script>
    <script src="/javascripts/json2.js"></script>
    <script src="/javascripts/underscore.min.js"></script>
    <script src="/javascripts/jquery-1.7.1.min.js"></script>
    <script src="/javascripts/jquery-ui-1.8.16.custom.min.js"></script>
    <script src="/javascripts/backbone.min.js"></script>
    <script src="/javascripts/backbone-forms.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/jquery.gritter.min.js"></script>
    <script src="/javascripts/jquery-ui-editors.js"></script>
    <script src="/javascripts/jquery.scrollTo.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    {% endblock %}

    {% block js_app %}
    <script src="/websockets.js"></script>
    <script src="/models.js"></script>
    <script src="/views.js"></script>
    <script src="/controllers.js"></script>
    <script src="/app.js"></script>
    {% endblock %}
  </head>
  <body onload="prettyPrint()">
    {% block body %}{% endblock %}
  </body>
