{% extends "base.html" %}
{% block body %}
  <a id="fork_me_on_github" target="_blank" href="https://github.com/Yipit/emerald">
    <span>Fork me on GitHub!</span>
  </a><!--github ribbon-->

  {% for template in templates %}<script type="text/template" id="template-{{ template.name }}">{{ template.html|raw }}</script>{% endfor %}

  <div id="connection-lost-dialog" title="Connection Lost">
    <h1>Emerald lost the connection with the mothership</h1>
    <h2>please try refreshing the page or check if the server is up</h2>
    <p style="font-size:120px;color: #666;padding: 50px;">:(</p>
  </div>

  <header>
    <div class="container">
      <div class="row">
	<div class="span13">
	  <h1 class="title"><a href="#">Emerald</a></h1>
	</div><!-- .span13 -->
      </div><!-- .row -->
      <div class="row">
	<div class="span8">
	  <p></p>
	</div>
	<div class="span8">
	  <menu class="main">
	    <li class="dashboard"><a href="#dashboard">dashboard</a></li>
	    <li class="instructions"><a href="#instructions">instructions</a></li>
	  </menu>
	</div>
      </div>
    </div>
  </header>
  <div id="app" class="container"></div>
{% endblock %}
