{% extends "base.html" %}
{% block body %}
  <a id="fork_me_on_github" target="_blank" href="https://github.com/Yipit/emerald">
    <span>Fork me on GitHub!</span>
  </a><!--github ribbon-->

  {% for template in templates %}<script type="text/template" id="template-{{ template.name }}">{{ template.html|raw }}</script>{% endfor %}

  <div id="connection-lost-dialog" title="Connection Lost">
    <h1>Emerald lost the connection with the mothership</h1>
    <h2>please try refreshing the page or check if the server is up</h2>
    <p style="font-size:120px;color: #666;padding: 50px;">:(</p>
  </div>

  <header>
    <div class="navbar">
      <div class="navbar-inner">
	<div class="container">
	  <a class="brand" href="#">
	    <div id="logo">Emerald</div>
	  </a>
	  <ul class="nav">
	    {# notice that some of the following "li" elements have the
	    "id" attribute set to "controller:some_name"

	    this is used internally in the backbone app: there is a
	    listener to the signal (Backbone.history.bind("route"))

	    that takes the name of the controller resposible to render
	    the new view, and prepend with "controller-", so that it
	    can change the state of the navigation items bellow to
	    "active" when suitable. #}
	    <li id="controller-dashboard" class="dashboard"><a href="#dashboard">
		<i class="icon-white icon-th-large"></i>
		dashboard</a></li>
	    <li id="controller-manage_instructions" class="instructions"><a href="#instructions">
		<i class="icon-white icon-th-list"></i>
instructions</a></li>
	    <li id="show-main-console" class="console"><a href="#console">
		<i class="icon-white icon-resize-full"></i>
		fullscreen live terminal</a></li>
	  </ul>
	</div>
      </div>
    </div>
  </header>
  <div id="app" class="container"></div>
{% endblock %}
